@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofadi+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #edf7ff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    border: 3px;
    border-color: #384B70;
}

td {
    border: 1px solid #dddddd;
    font-family: arial, sans-serif;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    background-color: #384B70;
    color: #FCFAEE;
    text-align: center;
    text-shadow: #fff9f3;
    font-size: 30px;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(80, 153, 186);
    color: white;
}

address {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #def1ff;
}

iframe {
    width: 80%;
    height: 350px;
    margin-left: 10%;
}

hr {
    width: 100%;
}

ul {
    list-style-type: circle;
}



a:link {
    color: #0091ff;
}

a:visited {
    color: #0c008d;
}

a:hover {
    color: #00e1ff;
}

a:active {
    color: #00d9ff;
}



#apresentacao {
    text-align: center;
    background-color: #def1ff;
    padding-top: 20px;
}


.apresentacao {
    text-align: left;
}

#center {
    text-align: center;
    height: 30%;
    width: 30%;
}

#sobre{
    width: 90%;
    margin-left: 5%;
    font-family: arial, sans-serif;
}


#exp {
    font-family: arial, sans-serif;
    margin-left: 5%;
    border: 3px;
    border-color: #384B70;
}

#form {
    font-family: arial, sans-serif;
    margin-left: 5%;
}

#menu {
    font-family: arial, sans-serif;
    text-align: center;
}

#cursos {
    font-family: arial, sans-serif;
    margin-left: 5%;
}
